body{
    font-family: 'Acme', sans-serif;
    background-color: #F6E4DF;
    margin: 0;
    padding: 0;
    display: flex;
}

.leftContainer {
    position: absolute;
    top: 42%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid #740001;
    float: left;
    width: 50%;
}


.rightContainer {
    border: 1px solid #740001;
    float: right;
    width: 50%;
    position: absolute;
    top: 42%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.formContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #740001;
    width: 50%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 5%;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

header {
    color: #EEBA30;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 300;
}

.formLabeluname {
    border: 1px solid #740001;
    color: #EEBA30;
    margin-top: 2px;
    font-size: 18px;
    text-align: left;
}

.username { /*in text only*/
    width: 90%;
    font-size: 15px;
    border-radius: 10px;
    padding: 2%;
    margin-top: 2px;
    margin-bottom: 10px;
    border: none;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

.username:focus {
    outline: none;
}

.formLabelpword {
    border: 1px solid #740001;
    color: #EEBA30;
    margin-top: 2px;
    font-size: 18px;
    text-align: left;
}

.password { 
    width: 90%;
    font-size: 15px;
    border-radius: 10px;
    padding: 2%;
    margin-top: 2px;
    margin-bottom: 10px;
    border: none;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

.password:focus {
    outline: none;
}

.ForgotUP {
    color: #EEBA30;
    font-size: 14px;
}

.ForgotUP a { 
    color: #EEBA30;
    font-size: 14px;
}

.loginButton {
    width: 30%;
    background-color: #D3A625;
    color: #FFFF;
    border-radius: 70px;
    padding: 1%;
    font-size: 100%;
    margin-top: 5%;
    outline: none;
    margin-bottom: 15px;
}

.loginButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #EEBA30;
    cursor: pointer;
}

.NewtoBOOKING {
    color: #EEBA30;
    font-size: 14px;
    font-weight: normal;
}

.NewtoBOOKING a {
    color: #EEBA30;
    font-size: 14px;
    font-weight: normal;
}

.BottomPortion {
    font-family: 'Pacifico', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
}

.box3{
    background: #D3A625;
    margin-top: 42%;
    width: 100vw;
    height: 8vh;
    text-align: center;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

